.react-datepicker {
	width: 100%;
	border: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.react-datepicker__month-container {
	width: 100%;
}

.react-datepicker__header {
	border-bottom-color: rgb(209 213 219);
}

.react-datepicker__day-names,
.react-datepicker__week {
	display: flex;
	justify-content: space-between;
  align-items: center;
	gap: 4px;
	width: 100%;
}

.react-datepicker__day-names {
	width: calc(100% - 24px);
	margin-inline: auto;
}

.react-datepicker__day-name,
.react-datepicker__day {  
	font-weight: 500;
	margin-bottom: 0.5rem;
  color: #222222;
}

.react-datepicker__day {
  display: flex;
  align-items: center;
  /* height: 2.5rem; */
  justify-content: center;
}

.react-datepicker__month {
	width: calc(100% - 24px);
	margin-left: auto;
	margin-right: auto;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range {
  background-color: #eec3fe;
}

.react-datepicker__day:hover {
  border-radius: 50%;
}

.react-datepicker__day--keyboard-selected {
  background-color: #f8e7ff;
}

.react-datepicker__day--outside-month {
  color: rgb(156 163 175);
}

.react-datepicker__day--highlighted {
	background: url("./assets/balloon.svg") no-repeat center;
	background-size: 80%;
	/* background-color: #b204f1; */
	/* color: #eee */
}

@media screen and (max-width: 320px) {
	.react-datepicker__week {
		width: 100%;
	}
}
